/* CSS reset & General styles. Go to line 164 for website styles. */

* {
  box-sizing: border-box; /*only be as big as the width I've given you.*/
  max-width: 100%; /* hey elements you can never be bigger than your parent*/
  /* border: 1px solid grey; */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general styles */

html {
  font-size: 62.5%;
}
body {
  font-family: serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #4f4f4f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  letter-spacing: 3px;
}
a {
  color: #4f4f4f;
  text-decoration: none;
  letter-spacing: 3px;
}
section {
  padding: 4% 0;
}

/*Website styles go under here by section*/

body {
  font-family: "Roboto Mono", monospace;
  color: black;
}
.container {
  width: 100%;
  margin: 0 auto;
}

/* NAVBAR styles */
.header .navbar {
  margin: 0 20% 3%;
  width: 75%;
}

.navbar a {
  padding: 1.5%;
  margin: 2% 5%;
  color: white;
  border-radius: 10px;
  display: inline-block;
  width: 15%;
  font-size: 1.3rem;
  text-align: center;
}
.navbar a span {
  display: block;
}
.navbar .navbar_item1 {
  background-color: #ff764e;
}
.navbar .navbar_item2 {
  background-color: #5ed3eb;
}
.navbar .navbar_item3 {
  background-color: #ffcd69;
}

/* Header styles */
.header .header_container {
  display: block;
  width: 60%;
  margin: 0 auto;
}

header .header_image {
  width: 25%;
  height: 25%;
  border: 0;
  border-radius: 50%;
  margin: 1%;
}

.header .main_tittle {
  font-family: "Chelsea Market", cursive;
  display: inline-block;
  font-size: 4rem;
  margin: 0 0 5%;
}
.header .header_1st_paragraph {
  display: inline-block;
  text-align: center;
}

.header .header_2nd_paragraph {
  display: inline-block;
  margin: 2%;
  text-align: center;
  width: 75%;
}

.header .h1_header_container {
  /* background-color: blue; */
  display: inline-block;
  width: 60%;
  margin: 5% 5% 2%;
  text-align: center;
}

/* middle section styles */
.middle_section {
  margin: 0;
}
.middle_section .intro_paragraph {
  background-color: #ddb9a3;
  color: white;
  padding: 1%;
  margin: -3% 15%;
  text-align: center;
  font-size: 1.8rem;
}
.intro_paragraph .margin_for_middle {
  display: block;
  margin-top: 2%;
}
/* icons and paragraphs */
.icon_section {
  margin: 0;
}
.icon_and_paragraph .icon_image {
  height: 10%;
  width: 10%;
  margin: 0 45%;
}
.icon_and_paragraph p {
  margin: 1% 40% 5%;
  text-align: center;
  font-size: 1.4rem;
  /* width: 20%; */
}

p .bold {
  font-weight: bold;
}

/* FOOTER */
footer {
  margin: 0;
  max-width: 100%;
  background-color: #f9e7dc;
}

.footer .footer_image img {
  height: 40vh;
  width: 100vw;
  object-fit: cover;
  object-position: 20% 20%;
}

/* FOOTER NAV */

.footer .navbar {
  margin: 0 20% 0%;
  width: 75%;
}

.footer a {
  padding: 1.5%;
  margin: 2% 5%;
  color: white;
  border-radius: 10px;
  display: inline-block;
  width: 15%;
  font-size: 1.3rem;
  text-align: center;
}
.footer a span {
  display: block;
}
